@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap");

@mixin max-screen($break-point) {
  @media only screen and (max-width: $break-point) {
    @content;
  }
}

@mixin min-screen($break-point) {
  @media only screen and (min-width: $break-point) {
    @content;
  }
}

@mixin Flex($display, $justifyContent, $alignItems) {
  display: $display;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin Gird($display, $gridTemplateRows) {
  display: $display;
  grid-template-columns: repeat($gridTemplateRows, minmax(0, 1fr));
}

@mixin Gap($columnGap, $rowGap) {
  column-gap: $columnGap;
  row-gap: $rowGap;
}

@mixin Size($fontSize, $fontWeight, $lineHeight) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

@mixin Border($border, $outline, $padding) {
  border: $border;
  outline: $outline;
  padding: $padding;
}