@charset "UTF-8";

//responsive
@mixin max-screen($break-point) { 
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin min-screen($break-point) { 
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin flex($justifyContent, $alignItems, $flexDirection) { 
 display: flex;
 justify-content: $justifyContent;
 align-items: $alignItems;
 flex-direction: $flexDirection;
}

@mixin flex($justifyContent, $alignItems, $flexDirection) { 
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flexDirection;
 }