@import "../utils/functions.scss";
@import "../utils/variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contact {
  background: $Cultured;
  padding: 2rem 0;


  .contact_container {
    max-width: $xl;
    margin: 0px auto;
    padding: 0;

    @include max-screen($xl) {
      max-width: 900px;
    }

    @include max-screen($sx) {
      padding: 0 25px;
    }

    .contact_main {
      display: flex;
      margin: 20px 0px 30px 0px;
      @include Flex(flex, space-between, flex-start);

      .contact_1 {
        display: flex;
        flex-direction: column;
        flex: 1;
        color: $EagleGreen;

        h1 {
          padding-bottom: 18px;
          font-size: 40px;
        }

        .textwidget {
          margin: 15px 0px;
          font-weight: bold;
          font-size: 19px;
        }

        .title {
          line-height: 30px;
        }
      }

      .contact_2 {
        flex: 1;
        border: 1px solid $EagleGreen;
        border-radius: 5px;
      }
    }

    h1 {
      margin: 30px 0px;
      opacity: 0.7;
      text-align: center;
      color: $EagleGreen;
    }

    .contact_mail {
      display: flex;
      justify-content: center;
      align-items: center;

      Form {
        width: 600px;
        font-size: 17px;

        .controll {
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;

          label {
            padding: 5px 0px;
            color: #727272
          }

          Input {
            padding: 7px;
            outline: none;
            border: 1px solid #ccc;
            border-radius: 5px;
          }

          TextArea {
            border: 1px solid #ccc;
            outline: none;
            border-radius: 5px;
            padding: 1rem;
          }
        }

        Button {
          margin: 13px auto;
          padding: 10px 5px;
          width: 100px;
          display: block;
          outline: none;
          border: 1px solid;
          cursor: pointer;
          background-color: $EagleGreen;
          color: white;
          border-radius: 6px;
          height: auto;

          &:hover {
            color: $EagleGreen;
            border: 1px solid $EagleGreen;
            background: white;
          }
        }
      }
    }

  }
}