@import "../utils/functions.scss";
@import "../utils/variables.scss";

.pageNotFound {
  margin-top: 7rem;
  padding: 40px 0;

  &>div {
    max-width: 1240px;
    margin: 0 auto;
    background-color: white;

    .row {
      display: grid;

      .col-sm-12 {
        .col-sm-10 {
          text-align: center;

          .bg {
            background-color: white;
            margin-top: 4rem;
            height: 24rem;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);

            h1 {
              text-align: center;
              color: red;
              font-size: 4.5rem;
              line-height: 1;
            }
          }
          .text{
            h3 {
              font-size: 4.5rem;
              line-height: 1;
            }
            p{
              margin-top: 4rem;
            }
            .btn{
              color: white;
              padding: 1.25rem;
              border-radius: 48rem;
              background-color: rgb(34 197 94);
              margin: 20px 0;
              display: inline-block;
              margin-top: 3rem;
            }
          }
        }
      }
    }
  }
}